services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DockerDir}/sabnzbd:/config
      - ${MediaDir}/downloads/complete:/downloads
      - ${MediaDir}/downloads/incomplete:/incomplete-downloads
    ports:
      - 8080:8080
    networks:
      backend:
        aliases:
          - sabnzbd
    depends_on:
      nginx-proxy-manager:
        condition: service_started
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080 || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"


