services:
  xen-orchestra:
    restart: unless-stopped
    image: ronivay/xen-orchestra:latest
    container_name: xen-orchestra
    stop_grace_period: 1m
    ports:
      - "60:80"
      - "6443:443"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - HTTP_PORT=80
      - HTTPS_PORT=443
      - REDIRECT_TO_HTTPS=true
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - apparmor:unconfined
    networks:
      backend:
        aliases:
          - xen-orchestra
    volumes:
      - ${DockerDir}/xo-data:/var/lib/xo-server
      - ${DockerDir}/redis-data:/var/lib/redis
    logging:
      driver: "json-file"
      options:
        max-size: "1M"
        max-file: "2"


