services:
  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    restart: unless-stopped

    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
      - AUTOHEAL_INTERVAL=30
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}

    volumes:
      - docker_sock:/var/run/docker.sock:ro

    networks:
      backend:
        aliases:
          - autoheal

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  docker_sock:
    external: true

networks:
  backend:
    external: true
