services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    labels:
      - all=true   # Autoheal label

    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}

    volumes:
      - ${DockerDir}/radarr:/config
      - ${MediaDir}/video/movies:/movies
      - ${MediaDir}/downloads/complete:/downloads

    ports:
      - 7878:7878

    networks:
      backend:
        aliases:
          - radarr

    depends_on:
      - sabnzbd
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:7878 || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"