services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    labels:
      - all=true

    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}

    volumes:
      - ${DockerDir}/bazarr/config:/config
      - ${MediaDir}/video/movies:/movies
      - ${MediaDir}/video/tv-shows:/tv

    ports:
      - 6767:6767

    networks:
      backend:
        aliases:
          - bazarr

    depends_on:
      - radarr
      - sonarr

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:6767 || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
