# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services

- Media:
    - Plex:
        icon: plex.png
        # href: "https://{{HOMEPAGE_VAR_PlexURL}}:32400/web" #Not needed anymore as using nginx proxy manager 
        href: "https://{{HOMEPAGE_VAR_PlexURL}}/web"
        description: Plex Media Management
        ping: {{HOMEPAGE_VAR_PlexURL}}
        widget:
          type: plex
          url: "https://{{HOMEPAGE_VAR_PlexURL}}"
          key: {{HOMEPAGE_VAR_PlexAPI}}

    - Sonarr:
        icon: sonarr.png
        href: "http://{{HOMEPAGE_VAR_SonarrURL}}"
        description: TV Series Management
        ping: {{HOMEPAGE_VAR_SonarrURL}}
        widget:
          type: sonarr
          url: "https://{{HOMEPAGE_VAR_SonarrURL}}"
          key: {{HOMEPAGE_VAR_SonarrAPI}}

    - Radarr:
        icon: radarr.png
        href: "http://{{HOMEPAGE_VAR_RadarrURL}}"
        description: Movie Management
        ping: {{HOMEPAGE_VAR_RadarrURL}}
        widget:
          type: radarr
          url: "https://{{HOMEPAGE_VAR_RadarrURL}}"
          key: {{HOMEPAGE_VAR_RadarrAPI}}

    - sabnzbd:
        icon: /icons/sabnzbd.png
        href: "http://{{HOMEPAGE_VAR_SabnzbdURL}}"
        description: NZB Download Management
        ping: {{HOMEPAGE_VAR_SabnzbdURL}}
        widget:
          type: sabnzbd
          url: "https://{{HOMEPAGE_VAR_SabnzbdURL}}"
          key: {{HOMEPAGE_VAR_SabnzbdAPI}}
          
    - Bazarr:
        icon: /icons/bazarr.png
        href: "https://{{HOMEPAGE_VAR_BazarrURL}}"
        description: Subtitle Manager
        ping: {{HOMEPAGE_VAR_BazarrURL}}
        widget:
          type: bazarr
          url: "https://{{HOMEPAGE_VAR_BazarrURL}}"
          key: {{HOMEPAGE_VAR_BazarrAPI}}
    - Homeserver:
        icon: /icons/dsm.png
        href: "https://{{HOMEPAGE_VAR_HomeserverURL}}"
        description: Homeserver NAS
        ping: {{HOMEPAGE_VAR_HomeserverURL}}
        widget:
          type: diskstation
          url: "https://{{HOMEPAGE_VAR_HomeserverURL}}"
          username: {{HOMEPAGE_VAR_NasUser}}
          password: {{HOMEPAGE_VAR_NASPassword}}



- Admin Console:

    - Unifi Controller:
        icon: /icons/unifi.png
        href: "https://{{HOMEPAGE_VAR_UnifiURL}}:443"
        description: Unifi Console
        ping: {{HOMEPAGE_VAR_UnifiURL}}
        widget:
          type: unifi
          url: "https://{{HOMEPAGE_VAR_UnifiURL}}"
          username: {{HOMEPAGE_VAR_NasUser}}
          password: {{HOMEPAGE_VAR_NASPassword}}

    - Xen Orchestrator:
        icon: /icons/xo.png
        href: "https://{{HOMEPAGE_VAR_XOURL}}/signin#/"
        description: XO VM management
        ping: {{HOMEPAGE_VAR_XOURL}}

    - XCP-NG1:
        icon: /icons/xcp-ng.png
        href: "https://{{HOMEPAGE_VAR_XCPNG1URL}}/#/"
        description: XCP-NG1 VM Host
        ping: {{HOMEPAGE_VAR_XCPNG1URL}}

    - Homeassistant:
        icon: /icons/ha.png
        href: "https://{{HOMEPAGE_VAR_HomeAssistantURL}}"
        description: Home Assistant - Home Automation
        ping: {{HOMEPAGE_VAR_HomeAssistantURL}}
        # Uncomment if widget required
        #widget:
        #  type: homeassistant
        #  url: "https://{{HOMEPAGE_VAR_HomeAssistantURL}}"
        #  key: {{HOMEPAGE_VAR_HomeAssistantAPI}}
        
    - cockpit:
        icon: /icons/cockpit.png
        href: "http://{{HOMEPAGE_VAR_CockpitURL}}"
        description: Cockpit  Management
        ping: {{HOMEPAGE_VAR_CockpitURL}}

    - nginx Proxy Manager:
        icon: /icons/nginx.png
        href: "http://{{HOMEPAGE_VAR_NGINXProxyURL}}"
        description: NGINX Proxy Manager
        ping: {{HOMEPAGE_VAR_NGINXProxyURL}}
        widget:
          type: npm
          url: "https://{{HOMEPAGE_VAR_NGINXProxyURL}}"
          username: {{HOMEPAGE_VAR_NGINXUsername}}
          password: {{HOMEPAGE_VAR_NGINXPassword}}

- Markets:
    - Crypto:
        # Uncomment if icon required
        # icon: /icons/crypto.png
        # href: https://coinmarketcap.com/
        # description: CoinmarketCap
        widget:
          type: coinmarketcap
          currency: GBP
          symbols: [BTC, ETH, SOL, QNT, ICP]
          key: {{HOMEPAGE_VAR_CoinmarketcapAPI}}
          defaultinterval: 7d # Optional
